[submodule "benchmark"]
	path = benchmark
	url = git@github.com:discslab-dl-bench/dlio_benchmark2.git
	branch = vldb-paper
[submodule "datagen"]
	path = datagen
	url = git@github.com:discslab-dl-bench/datagen.git
	branch = vldb-paper
