[submodule "benchmark"]
	path = benchmark
	url = git@github.com:discslab-dl-bench/dlio_benchmark2.git
	branch = vldb-paper
[submodule "datagen"]
	path = datagen
	url = git@github.com:discslab-dl-bench/datagen.git
	branch = vldb-paper
[submodule "unet3d_original"]
	path = unet3d_original
	url = git@github.com:discslab-dl-bench/mlcomns_imseg.git
	branch = vldb-main
[submodule "unet3d_instrumented"]
	path = unet3d_instrumented
	url = git@github.com:discslab-dl-bench/mlcomns_imseg.git
	branch = vldb-instrumented
[submodule "unet3d_sleep"]
	path = unet3d_sleep
	url = git@github.com:discslab-dl-bench/mlcomns_imseg.git
	branch = vldb-sleep
[submodule "tracing_tools"]
	path = tracing_tools
	url = git@github.com:discslab-dl-bench/tracing_tools.git
	branch = vldb-paper
[submodule "dlrm_original"]
	path = dlrm_original
	url = git@github.com:discslab-dl-bench/mlcomns_dlrm.git
	branch = vldb-main
[submodule "dlrm_instrumented"]
	path = dlrm_instrumented
	url = git@github.com:discslab-dl-bench/mlcomns_dlrm.git
	branch = vldb-instrumented
[submodule "dlrm_sleep"]
	path = dlrm_sleep
	url = git@github.com:discslab-dl-bench/mlcomns_dlrm.git
	branch = vldb-sleep
[submodule "tracesim"]
	path = tracesim
	url = git@github.com:discslab-dl-bench/tracesim.git
	branch = vldb-paper
